[user]
	name = {{ .git_name }}
	email = {{ .email }}
[alias]
	st = status -sb
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
	co = checkout
	del = branch -D
	cob = checkout -b
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	undo = reset HEAD~1 --mixed
	res = !git reset --hard
	ac = !git add -A && git commit -m
[core]
	pager = delta
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[help]
	autocorrect = 20
{{- $gh := lookPath "gh" }}
{{- if $gh }}
{{/* gh guarda el token en el keyring; este helper deja que git lo use para
     push/pull por HTTPS sin pedir usuario ni contrasena. Equivale a lo que
     escribe `gh auth setup-git`, pero versionado. El `helper =` vacio resetea
     helpers heredados de otros ambitos. */}}
[credential "https://github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
{{- end }}
