layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }

    tab name="work" focus=true {
        pane split_direction="vertical" {
            pane size="65%" name="nvim" focus=true command="nvim"
            pane size="35%" name="claude" command="fish" {
                args "-c" "claude --continue; or claude"
            }
        }
    }
    tab name="term" {
        pane name="terminal"
    }
    tab name="git" {
        pane name="lazygit" command="lazygit"
    }
{{- if .install_docker }}
    tab name="docker" {
        pane name="lazydocker" command="lazydocker"
    }
{{- end }}
    tab name="redis" {
        pane name="iredis" command="iredis" {
            args "-h" "127.0.0.1" "-p" "6379"
        }
    }
    tab name="sql" {
        pane name="lazysql" command="lazysql"
    }
    tab name="k9s" {
        pane name="k9s" command="k9s"
    }
}
